/* TODO eventualmente esto unificarlo */
/* SLIDER: */


.mySlides {
  display: none;
  background-color: var(--main-color);
  justify-content: space-around;
  align-items: center;
  padding: 5%;
}

.mySlides div {
  text-align: center;
}

.mySlides img,
#personajeSeleccion img{/*TODO eliminar y añadir la fotos con tamaño adecuado, 150 en desktop, 100 en mobile*/
  width: 150px; /*TODO en móvil deberian ser 100px*/
  height: 150px; /*DEBERIAN SER CUADRADAS*/
}

/* Slideshow container */
#slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  border: solid 3px var(--secondary);
  padding: 0.3rem;
  box-sizing: border-box;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: var(--main-color);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active-dot {
  background-color: var(--secondary-light);
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 2s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 1;
  }
}

/*responsive design tablet + desktop*/
@media screen and (min-width: 800px) {
  /* MAIN: */
  #personajesMain {
    margin: 0 auto;
    margin-top: 3vh;
    margin-bottom: 3vh;
    width: 80%;
    padding: 3rem;
    background-color: var(--surface);
    border: solid 3px var(--secondary-light);
    box-sizing: border-box;
  }

  #personajesVista {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-sizing: border-box;
  }

  #personajesSeleccion {
      border-left: 3px solid var(--main-color);
      display: flex;
      flex-direction: column;
  }

  #personajesVista > div {
    width: 50%;
  }
  
  #personajesLista {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    border-right: 1px solid var(--secondary);
    align-items: center;
  }

  /*Transición al pasar el ratón sobre la imagen*/
  #personajesLista > div {
    position: relative;
    cursor: pointer;
  }

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: var(--main-dark);
  }
  
  #personajesLista > div:hover .overlay {
    opacity: 0.5;
  }

  /* OTROS APARTADOS: */
  #personajes h1 {
    text-decoration: underline;
    text-decoration-color: var(--main-color);
  }
}

/*responsive design mobile*/
@media screen and (max-width: 799px) {
  #personajesLista {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    justify-items: center;
    padding: 2rem;
    order: 2;
  }

  #personajesVista {
    display: flex;
    flex-direction: column;
  }

  #personajeSeleccion {
    order: 1;
    margin-top: 2rem;
  }

}

#personajeSeleccion {
  text-align: center;
}


