@font-face {
  font-family: "Corleone";
  src: url("Corleone.TTF");
}

:root {
  --main-color: #8e231b;
  --main-dark: #5b0000;
  --secondary: #000000;
  --secondary-light: #212121;
  --surface: #dddddd;
  --error: #8e651b;
}

body {
  margin: 0;
}

h1{
  font-family: Corleone, sans-serif;
  font-weight: 400;
  letter-spacing: 3px;
  text-align: center;
}

h2 {
  font-family: Corleone, sans-serif;
  font-weight: 400;
  letter-spacing: 2px;
}

h3 {
  font-family: Open Sans, sans-serif;
  font-size: 1.5rem;
}

h4,
h5,
h6 {
  font-family: Open Sans, sans-serif;
  font-size: 1rem;
}

p,
li,
a {
  font-family: Open Sans, sans-serif;
  font-size: 1rem;
}

hr {
  color: var(--surface);
}

header {
  grid-area: header;
  background-color: var(--main-color);
  padding: 10px;
  position: relative;
}

main {
  grid-area: main;
  padding: 20px;
}

aside {
  grid-area: right;
  text-align: center;
  background-color: var(--secondary);
  color: white;
}

aside:not(div:last-of-type) {
  padding: 20px;
}

aside ul {
  text-align: left !important; /* TODO, en este caso solo quiero alinear a la izquierda un componente del aside, creo que es justificable utilizar impoprtant */
}

aside > div:last-of-type {
  background-color: var(--surface);
  padding: 10px;
  margin-top: 20px;
  color: var(--secondary);
}

footer {
  grid-area: footer;
  padding: 10px;
  background-color: var(--main-dark);
  color: white;
}

nav a {
  font-family: Open Sans, sans-serif;
  font-size: 1.25rem;
  text-decoration: none;
  color: white;
}

nav a:hover {
  font-weight: 800;
}

aside > hr {
  margin: 50px;
}

button {
  margin: 0 auto;
  margin-bottom: 25px;
  display: block;
  padding: 10px;
  width: 200px;
  border-radius: 5px;
}

.fas,
.fab,
.far {
  margin-right: 8px;
}

.fa-github,
.fa-envelope,
.fa-facebook,
.fa-twitter,
.fa-instagram,
a > i {
  color: white;
}

.active {
  text-decoration: underline;
  font-weight: 800;
}

.grid-container {
  display: grid;
}

html {
  scroll-behavior: smooth; /* para que haga la vuelta 'suave' */
}

#botonTop {
  display: none; /* empieza siempre oculto */
  position: fixed;
  bottom: 30px; /* posición de prueba; adáptalo cuando lo unifiques */
  right: 30px;
  z-index: 99; /* así queda siempre superpuesto */
}

/*responsive design tablet + desktop*/
@media screen and (min-width: 800px) {
  .grid-container {
    grid-template-areas:
      "header header header header"
      "main main main right"
      "footer footer footer footer";
  }

  header {
    display: flex;
  }

  h1 {
    font-size: 4.5rem;
  }

  h2 {
    font-size: 3rem;
  }

  .icon {
    display: none;
  }

  aside {
    width: 350px;
    height: fit-content;
  }

  aside > div > div {
    display: flex;
    padding-top: 20px;
    padding-right: 110px;
    padding-left: 110px;
  }

  aside > div > div > :last-child {
    margin-left: auto;
  }

  nav {
    display: flex;
    justify-content: flex-end;
    width: 80%;
    align-self: center;
    padding-right: 6%;
  }

  nav > div:last-of-type,
  nav > div:last-of-type > a:nth-last-child(2) {
    display: flex;
  }

  nav > div:last-of-type > a:nth-last-child(2) i {
    align-self: center;
    padding-left: 1.5%;
  }

  nav > div > a:last-of-type {
    display: none;
  }

  nav > div > a:not(:nth-last-of-type(2)) {
    border-right: 1px solid white;
    margin-right: 2%;
    padding-right: 2.5%;
  }

  main > section:first-child {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  main > section:first-child > div:last-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  main > section:first-child > div:last-child > button {
    align-self: center;
  }

  main > section:first-of-type > div:nth-of-type(2) > button {
    display: flex;
    align-items: center;
  }

  main > section:nth-of-type(2) > div:first-of-type {
    display: grid;
    grid-template-areas:
      "h2 h2 img"
      "p p img";
  }

  main > section:nth-of-type(2) > div > h2 {
    grid-area: h2;
    margin: 0;
  }

  main > section:nth-of-type(2) > div > p:first-of-type {
    grid-area: p;
  }

  main > section:nth-of-type(2) > div > img {
    grid-area: img;
    width: 300px;
  }

  main > section:nth-of-type(2) > div:first-of-type > img,
  main > section:nth-of-type(2) > div:nth-of-type(3) > img {
    padding-left: 20px;
  }

  main > section:nth-of-type(2) > div:nth-of-type(2) {
    display: grid;
    grid-template-areas:
      "img h2 h2"
      "img p p"
      "p2 p2 p2";
    margin-top: 30px;
  }

  main > section:nth-of-type(2) > div:nth-of-type(2) > p:last-of-type,
  main > section:nth-of-type(2) > div:nth-of-type(3) > p:last-of-type {
    grid-area: p2;
  }

  main > section:nth-of-type(2) > div:nth-of-type(2) > img,
  main > section:nth-of-type(2) > div:last-of-type > img {
    padding-right: 20px;
  }

  main > section:nth-of-type(2) > div:nth-of-type(3) {
    display: grid;
    grid-template-areas:
      "p p img"
      "p2 p2 p2";
  }

  main > section:nth-of-type(2) > div:last-of-type {
    display: grid;
    grid-template-areas: "img p p";
    margin-bottom: 30px;
  }

  footer {
    display: flex;
    text-align: right;
    height: 100%;
    align-items: center;
  }

  footer > div:last-of-type {
    right: 10px;
    position: absolute;
    height: 50px;
  }

  footer i {
    margin-left: 15px;
  }

  .fa-minus-square,
  .fa-plus-square {
    display: none;
  }
}

/*responsive design mobile*/
@media screen and (max-width: 799px) {
  h1 {
    font-size: 3rem;
    margin-bottom: 0;
  }

  h2 {
    font-size: 2rem;
  }

  .grid-container {
    grid-template-areas:
      "header"
      "main"
      "right"
      "footer";
  }

  /*diseño MENU MOVIL */
  header > div:first-of-type {
    width: fit-content;
    float: right;
  }

  nav a:nth-last-of-type(2) {
    display: none;
  }

  nav > div {
    display: none;
  }

  nav a {
    display: block;
  }

  #menu a.icon {
    display: block;
    position: absolute;
    right: 20px;
  }

  i.fas.fa-times {
    display: none;
  }

  /* FIN MENU MÓVIL */

  main > section {
    text-align: center;
  }

  main > section:first-of-type > div:last-of-type > button:first-of-type,
  main > section:first-of-type > div:nth-of-type(2) > button > i {
    display: none;
  }

  main > section:first-of-type > div:nth-of-type(2) > button {
    display: inline;
    margin-top: 20px;
  }

  main > section:nth-of-type(2) > div > img {
    width: 100%;
  }

  main > section:nth-of-type(2) > div:first-of-type > h2 {
    text-align: center;
  }

  main > section:nth-of-type(2) > div:last-of-type {
    display: none;
  }

  main > section:last-of-type > button:last-of-type {
    margin-top: 25px;
  }

  footer {
    text-align: center;
    padding: 20px;
  }

  footer > div {
    margin-top: 25px;
  }
}
