@font-face {
  font-family: "Corleone";
  src: url("res/fonts/Corleone.TTF");
}

:root {
  --main-color: #8e231b;
  --main-dark: #5b0000;
  --secondary: #000000;
  --secondary-light: #212121;
  --surface: #dddddd;
  --error: #8e651b;
}

html {
  scroll-behavior: smooth; /* para que haga la vuelta 'suave' */
}

body {
  margin: 0;
}

h1 {
  font-family: Corleone, sans-serif;
  font-weight: 400;
  letter-spacing: 3px;
  text-align: center;
}

h2 {
  font-family: Corleone, sans-serif;
  font-weight: 400;
  letter-spacing: 2px;
}

h3 {
  font-family: Open Sans, sans-serif;
  font-size: 1.5rem;
}

h4,
h5,
h6 {
  font-family: Open Sans, sans-serif;
  font-size: 1rem;
}

p,
li {
  font-family: Open Sans, sans-serif;
  font-size: 1rem;
}

a {
  font-family: Open Sans, sans-serif;
  font-size: 1rem;
  cursor: pointer;
}

hr {
  color: var(--surface);
}

/* MENU */
header {
  grid-area: header;
  background-color: var(--main-color);
  padding: 0.8rem;
  position: relative;
}
/* FIN MENU */

main {
  grid-area: main;
}

iframe {
  border: none;
  box-shadow: 0.5rem 0.5rem 0.5rem -0.5rem var(--secondary-light);
  width: 100%;
}

#asidePrincipal {
  grid-area: right;
  text-align: center;
  background-color: var(--secondary);
  color: white;
  padding-bottom: 8vh;
}

#asidePrincipal ul {
  text-align: left !important; /* TODO, en este caso solo quiero alinear a la izquierda un componente del aside, creo que es justificable utilizar impoprtant */
}

aside > div:last-of-type {
  background-color: var(--surface);
  padding: 0.5rem;
  margin-top: 0.5rem;
  color: var(--secondary);
  text-align: center;
}

aside > div:last-of-type:hover {
  background-color: var(--main-color);
  color: white;
  cursor: none;
}

aside img {
  width: 60%;
  border-radius: 50%;
  border: 3px solid var(--main-color);
  transition: transform 2.5s ease-in-out;
}

aside img:hover {
  transform: rotate(360deg);
}

footer {
  grid-area: footer;
  padding: 1.35rem;
  background-color: var(--main-color);
  color: white;
  box-sizing: border-box;
}

nav a,
footer a {
  font-family: Open Sans, sans-serif;
  text-decoration: none;
  color: white;
}

nav a {
  font-size: 1.25rem;
}

nav a:hover {
  border-bottom:3px solid var(--secondary);
  padding-bottom:2px;
  color: var(--secondary);
}

button {
  background-color: var(--main-color);
  border: 2px solid var(--secondary);
  color: white;
  margin: 0 auto;
  margin-bottom: 25px;
  display: block;
  padding: 0.6rem;
  font-size: medium;
  box-sizing: border-box;
  box-shadow: 0.5rem 0.5rem 0.5rem -0.5rem var(--secondary-light);
}

button:hover {
  background-color: var(--main-dark);
  color: white;
  cursor: pointer;
}

.fas,
.fab,
.far {
  margin-right: 8px;
}

.fa-github,
.fa-envelope,
.fa-facebook,
.fa-twitter,
.fa-instagram,
a > i {
  color: white;
}

a > .fa-envelope {
  padding-bottom: 5px;
}

i.fa-arrow-up{
  display: contents;/*para centrar el icono del arrow up*/
}

.active {
  border-bottom:3px solid white;
  padding-bottom:2px;
  font-weight: 800;
}

.grid-container {
  display: grid;
}

#botonTop {
  display: none; /* empieza siempre oculto */
  position: fixed;
  bottom: 3.3rem;
  right: 0.3rem;
  z-index: 99; /* así queda siempre superpuesto */
  color: white;
  background-color: var(--secondary-light);
  box-sizing: border-box;
  font-size: 80%;
  width: auto;
}

#botonTop:hover {
  color: white;
  background-color: var(--secondary);
}

/* Adaptación video YouTube */
@media screen and (min-width: 800px and max-width:1100px) {
  iframe {
    height: auto;
  }
}

@media screen and (min-width: 1101px) {
  iframe {
    height: 350px;
  }
}

/*responsive design tablet + desktop*/
@media screen and (min-width: 800px) {
  .grid-container {
    grid-template-areas:
      "header header header header"
      "main main main right"
      "footer footer footer footer";
  }

  /* MENU DESKTOP*/
  header {
    display: flex;
  }

  /* TODO: pensar y hacer un logo en condiciones */
  header > img {
    box-shadow: 0.5rem 0.5rem 0.5rem -0.5rem var(--secondary-light);
  }

  nav {
    align-self: center;
    position: absolute;
    right: 15%;
  }

  nav > div:last-of-type,
  nav > div:last-of-type > a:nth-last-child(2) {
    display: inline-flex;
  }

  nav > div:last-of-type > a:nth-last-child(2) i {
    align-self: center;
    padding-left: 5%;
  }

  nav > div > a:last-of-type {
    display: none;
  }

  nav > div > a:not(:nth-last-of-type(2)) {
    margin-right: 2.5%;
    margin-left: 2.5%;
  }
  /* END MENU DESKTOP*/

  /* cambios hechos sin wireframe porq no queda bien; consultar mañana con Vicky */
  main > hr {
    display: none;
  }

  h1 {
    font-size: 4.5rem;
  }

  h2 {
    font-size: 3rem;
  }

  button {
    width: 200px;
  }

  .icon {
    display: none;
  }

  main,
  aside {
    margin-top: 8vh;
    margin-bottom: 8vh;
    box-sizing: border-box;
  }

  main {
    margin-left: 4vw;
    margin-right: 1.5vw;
  }

  aside {
    margin-left: 1.5vw;
    margin-right: 4vw;
  }

  main p {
    text-align: justify;
  }

  aside h2 {
    text-decoration: underline;
    text-decoration-color: var(--main-color);
  }

  aside hr {
    border: none;
    height: 5px;
    background-color: var(--main-color);
    margin-top: 1.7rem;
  }

  #asidePrincipal {
    width: 350px;
    padding: 0.1rem 2.5rem 2.5rem 2.5rem;
    height: fit-content;
    box-shadow: 0.5rem 0.5rem 0.5rem -0.5rem var(--secondary-light);
    box-sizing: border-box;
  }

  #asidePrincipal > div > div {
    display: flex;
  }

  #asidePrincipal > div > div > :last-child {
    margin-left: auto;
  }

  main > section:first-child {
    background-color: var(--surface);
    border: solid 3px var(--secondary-light);
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 5%;
    margin-bottom: 3%;
    box-shadow: 0.5rem 0.5rem 0.5rem -0.5rem var(--secondary-light);
    box-sizing: border-box;
  }

  main > section:first-child > div:last-child {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
  }

  main > section:first-child > div:last-child > button {
    align-self: center;
  }

  main > section:first-of-type > div:nth-of-type(2) > button {
    display: flex;
    align-items: center;
  }

  main > section:last-child,
  #pantallaOpciones {
    background-color: var(--surface);
    border: solid 3px var(--secondary-light);
    padding-left: 5%;
    padding-right: 5%;
    padding-top: -4%;
    padding-bottom: -2%;
    box-shadow: 0.5rem 0.5rem 0.5rem -0.5rem var(--secondary-light);
    box-sizing: border-box;
  }

  main > section:last-child > h1,
  #pantallaOpciones > h1 {
    text-decoration: underline;
    text-decoration-color: var(--main-color);
  }

  main > section:last-child > div:first-of-type {
    display: grid;
    grid-template-areas:
      "h2 h2 img"
      "p p img";
  }

  main > section:last-child > div > h2 {
    grid-area: h2;
    margin: 0;
  }

  main > section:last-child > div > p:first-of-type {
    grid-area: p;
  }

  main > section:last-child > div > img {
    grid-area: img;
    width: 300px;
  }

  main > section:last-child > div:first-of-type > img,
  main > section:last-child > div:nth-of-type(3) > img {
    padding-left: 20px;
  }

  main > section:last-child > div:nth-of-type(2) {
    display: grid;
    grid-template-areas:
      "img h2 h2"
      "img p p"
      "p2 p2 p2";
    margin-top: 30px;
  }

  main > section:last-child > div:nth-of-type(2) > p:last-of-type,
  main > section:last-child > div:nth-of-type(3) > p:last-of-type {
    grid-area: p2;
  }

  main > section:last-child > div:nth-of-type(2) > img,
  main > section:last-child > div:last-of-type > img {
    padding-right: 20px;
  }

  main > section:last-child > div:nth-of-type(3) {
    display: grid;
    grid-template-areas:
      "p p img"
      "p2 p2 p2";
  }

  main > section:last-child > div:last-of-type {
    display: grid;
    grid-template-areas: "img p p";
    margin-bottom: 30px;
  }

  footer {
    display: flex;
    text-align: right;
    height: 100%;
    align-items: center;
    box-sizing: border-box;
  }

  footer > div:last-of-type {
    right: 10px;
    position: absolute;
    height: 50px;
  }

  footer i {
    margin-left: 15px;
  }

  footer a:hover,
  footer i:hover {
    color: var(--secondary-light);
  }

  i.fa-minus-square,
  i.fa-plus-square {
    display: none;
  }
}

/*responsive design mobile*/
@media screen and (max-width: 799px) {

  /*diseño MENU MOVIL */
  header > div:first-of-type {
    width: fit-content;
    float: right;
  }

  nav a:nth-last-of-type(2) {
    display: none;
  }

  nav > div {
    display: none;
  }

  nav a {
    display: block;
  }

  #menu a.icon {
    display: block;
    position: absolute;
    right: 20px;
  }

  i.fas.fa-times {
    display: none;
  }
  /* FIN MENU MÓVIL */

  h1 {
    font-size: 3rem;
    margin-bottom: 0;
  }

  h2 {
    font-size: 2rem;
  }

  .grid-container {
    grid-template-areas:
      "header"
      "main"
      "right"
      "footer";
  }

  iframe {
    height: 320px;
  }

  main > section {
    text-align: center;
  }

  main > section:first-of-type > div:last-of-type > button:first-of-type,
  main > section:first-of-type > div:nth-of-type(2) > button > i {
    display: none;
  }

  main > section:first-of-type > div:nth-of-type(2) > button {
    display: inline;
    margin-top: 20px;
  }

  main > section:nth-of-type(2) > div > img {
    width: 100%;
  }

  main > section:nth-of-type(2) > div:first-of-type > h2 {
    text-align: center;
  }

  main > section:nth-of-type(2) > div:last-of-type {
    display: none;
  }

  main > section:last-of-type > button:last-of-type {
    margin-top: 25px;
  }

  footer {
    text-align: center;
  }

  footer > div {
    margin-top: 25px;
  }
}
