* {
    box-sizing: border-box;
}

:root{
    background: black;
}

main {
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

main > div:first-child,             /* todo esto es temporal */
main > div:last-child {
    padding: 1rem;
    background-color: black;
    color: white;
    min-height: 10vh;
    display: flex;
    justify-content: space-between;
}

main > div:first-child img {
    width: 20px;
}

main > div:nth-child(2) {
    flex-grow: 1;
}

#juegoTablero {
    margin: 0 auto;
    margin-bottom: 0.5%;
    background-color: rgb(223, 223, 223);
    box-sizing: border-box;
}

#eventoDinero { /* TODO arreglar esto */
    position: fixed;
    z-index: 99;
    color: white;
    background: purple;
    top: 8%;
    left: 1.5%;
}

#juegoInferiorCentro {
    display: flex;
    flex-direction: row;
}

.botonEdificio { /*TODO estos colores son sólo para pruebas */
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    width: 5rem;
    padding: 0;
    text-align: center;
    border: 3px solid white;
    color: black;
    text-transform: uppercase;
    background-color: rebeccapurple;
    cursor: grab;
    box-sizing: border-box;
}

.botonEdificio > img {
    height: 3rem;
    margin: 0 auto;
    box-sizing: border-box;
}

.botonEdificio > p {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}