/* TODO eventualmente esto unificarlo */
/* SLIDER: */
:root {
  --main-color: #8e231b;
  --main-dark: #5b0000;
  --secondary: #000000;
  --secondary-light: #212121;
  --surface: #dddddd;
  --error: #8e651b;
}

.mySlides {
  display: none;
  height: 350px;
  background-color: var(--main-color);
  justify-content: space-around;
  align-items: center;
}

img {
  width: 150px;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  border: solid 3px var(--secondary);
  padding: 0.3rem;
  box-sizing: border-box;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: var(--surface);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: var(--secondary-light);
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 2s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 1;
  }
}

/*responsive design tablet + desktop*/
@media screen and (min-width: 800px) {
  /* MAIN: */
  #personajesMain {
    margin: 0 auto;
    margin-top: 3vh;
    margin-bottom: 3vh;
    width: 80%;
    padding: 3rem;
    background-color: var(--surface);
    border: solid 3px var(--secondary-light);
    box-sizing: border-box;
  }

  #personajesVista {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-sizing: border-box;
  }

  #personajesSeleccion {
      border-left: 3px solid var(--main-color);
      display: flex;
      flex-direction: column;
  }

  /* OTROS APARTADOS: */
  #personajes h1 {
    text-decoration: underline;
    text-decoration-color: var(--main-color);
  }
}

/*responsive design mobile*/
@media screen and (max-width: 799px) {
}
