/* TODO eventualmente esto unificarlo */
/* SLIDER: */

.mySlides {
  display: none;
  background-color: var(--main-color);
  justify-content: space-around;
  align-items: center;
  padding: 4%;
}

.mySlides div {
  text-align: center;
}

#personajeSeleccion img {
  width: 150px;
  height: 170px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: var(--main-dark);
}

#personajesLista > div:hover .overlay {
  opacity: 0.5;
}

/*Transición al pasar el ratón sobre la imagen*/
#personajesLista > div {
  position: relative;
  cursor: pointer;
}

#personajeSeleccion {
  text-align: center;
}

#personajeSeleccion h3 {
  margin: 0.5rem;
  font-weight: 100;
}

/* Contenedor del carrusel */
#slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  border: solid 3px var(--secondary);
  padding: 0.3rem;
  box-sizing: border-box;
}

/* Bullets */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: var(--main-color);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  box-sizing: border-box;
  margin-bottom: 5vh;
}

.active-dot {
  background-color: var(--secondary-light);
}

/* Animación de fade */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 2s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 1;
  }
}

/* Para tablet y desktop (responsive) */
@media screen and (min-width: 800px) {
  /* MAIN: */
  #personajesMain {
    margin: 0 auto;
    margin-top: 4vh;
    margin-bottom: 4vh;
    width: 80%;
    padding: 1rem;
    background-color: var(--surface);
    border: solid 3px var(--secondary-light);
    box-sizing: border-box;
  }

  #personajes > h2 {
    margin: 0 auto;
    text-align: center;
  }

  .mySlides img {
    width: 120px;
    height: 150px;
  }

  /* OTROS APARTADOS: */
  #personajes h1 {
    text-decoration: underline;
    text-decoration-color: var(--main-color);
  }

}

/* GRID PERSONAJES - Responsive adaptado para resoluciones de hasta 1100px */
@media screen and (max-width: 1100px) {
  #personajesLista {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.5rem;
    justify-items: center;
    padding: 2rem;
    order: 2;
  }

  #personajesVista {
    display: flex;
    flex-direction: column;
  }

  #personajeSeleccion {
    order: 1;
    margin-top: 2rem;
  }

  #personajesLista > div:first-of-type,
  #personajesLista > div:nth-of-type(3),
  #personajesLista > div:nth-of-type(5),
  #personajesLista > div:nth-of-type(7) {
    justify-self: flex-end;
  }

  #personajesLista > div:last-of-type,
  #personajesLista > div:nth-of-type(2),
  #personajesLista > div:nth-of-type(4),
  #personajesLista > div:nth-of-type(6) {
    justify-self: flex-start;
  }
}

/* GRID PERSONAJES - Desktop */
@media screen and (min-width: 1101px) {
  #personajesVista {
    background-color: var(--secondary);
    color: white;
    margin: 1rem 2rem 1rem 2rem;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    min-height: 500px;
    box-sizing: border-box;
    align-items: center;
  }

  #personajeSeleccion {
    display: flex;
    flex-direction: column;
  }
  
  #personajeSeleccion {
    text-align: center;
    width: 500px;
    margin: 0 auto;
  }

  #personajesLista {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    grid-gap: 1rem;
    padding-right: 1rem;
    margin: 0 auto;
  }
}

/*responsive design mobile*/
@media screen and (max-width: 799px) {
  .mySlides img {
    width: 80px;
    height: 100px;
  }

  #personajes > h2 {
    text-align: center;
    margin-bottom: -1rem;
    padding-bottom: 0px;
    box-sizing: border-box;
  }
}
