:root {
  --main-color: #8e231b;
  --main-dark: #5b0000;
  --secondary: #000000;
  --secondary-light: #212121;
  --surface: #dddddd;
  --error: #8e651b;
  background: black;
}

@font-face {
  font-family: "Corleone";
  src: url("resources/fonts/Corleone.TTF");
}

span,
nav p,
#eventoDinero {
  font-family: Corleone, sans-serif;
  font-size: 1.5rem;
  font-weight: 100;
  letter-spacing: 2px;
}

p {
  font-family: Open Sans, sans-serif;
  font-size: 1rem;
}

h1 {
  font-family: Corleone, sans-serif;
  font-weight: 400;
  letter-spacing: 3px;
  text-decoration: underline;
  text-decoration-color: var(--main-color);
  text-align: center;
  font-size: 3.5rem;
}

h2 {
  font-family: Corleone, sans-serif;
  font-weight: 400;
  text-decoration: underline;
  text-decoration-color: var(--main-color);
  letter-spacing: 2px;
}

main {
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

/* main > div:first-child */
main > nav,             /* todo esto es temporal */
main > div:last-child {
  background-color: black;
  color: var(--surface);
  min-height: 10vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

main > nav img {
  width: 60px;
  border-radius: 50%;
  margin-bottom: 1em;
}

nav {
  padding-left: 3em;
  padding-right: 3em;
}

#construcciones {
  position: absolute;
  right: 120px;
  top: 200px;
}

#construcciones > img {
  margin: 0.5rem;
}

#juegoTablero {
  margin: 0 auto;
  margin-bottom: 0.5%;
  background-color: var(--error);/* TODO deberíamos renombrar esta var y justificarlo en el readmi */
  cursor: pointer;
  box-sizing: border-box;
}

#eventoDinero {
  /* TODO arreglar esto, no son los looks que tocan */
  position: fixed;
  z-index: 99;
  color: black;
  background: var(--surface);
  border: 2px solid var(--main-color);
  top: 8%;
  left: 1.5%;
  padding: 20px;
  border-radius: 50%;
}

p#juegoBadge {
  color: var(--main-color);
}

.fas,
.far {
  font-size: 25px;
  padding-left: 1.5em;
  transition: 0.3s linear;
}

.fas:hover,
.far:hover {
  color: var(--main-dark)!important;
  font-size: 30px;
}

.fa-money-bill-alt {
  color: green;
}

.fa-power-off {
  color: var(--main-color);
}

.fa-ban,
.fa-arrows-alt,
.fa-trash {
  color: grey;
}

.botonEdificio {
  width: 5rem;
  padding: 0;
  text-align: center;
  border: 3px solid var(--error);/* TODO, RENOMBRAR VAR */
  text-transform: uppercase;
  cursor: grab;
  box-sizing: border-box;
  margin: 1rem;
}

.botonEdificio > img {
  height: 3rem;
  margin: 0 auto;
  box-sizing: border-box;
}

.botonEdificio > p {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

#sorpresa {
  width: 30%;
  z-index: 1;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 20%;
}